body{
    margin: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    height: 6.5rem;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-top: -8px;
}

.miima-about-logo{
    width: 10rem;
}

.head-mid-st-about{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 30px;
    a{
    text-decoration: none;
    color: rgba(13, 30, 73, 1);
    font-size: 25px;
    font-weight: bold;
    }
}

.dropdown{
    display: none;
    position: relative;
    i{
        font-size: 30px;
        background-color: rgba(10, 10, 61, .2);
        border-radius: 5px;
        padding: 2px;
    }
}

.head-mid-nd{
    display: none;
    flex-direction: column;
    margin-top: 45px;
    position: absolute;
    background-color: rgba(150, 150, 150, .5);
    padding: 10px;
    font-size: 23px;
    gap: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transform: translateX(-6rem);
    a{
        text-decoration: none;
        color: rgba(10, 10, 61, 1);
        border-radius: 5px;
        padding: 2px;
    }
    a:hover{
        background-color: rgba(250, 250, 250, 1);
    }
}
main{
    h4{
        color: rgba(10, 10, 61, 1);
        margin-top: 5rem;
        text-align: center;
        font-size: 30px;
        transform: translateY(-50px);
    }
    .why{
        color: rgba(10, 10, 61, 1);
        font-size: 30px;
        text-align: center;
        margin-top: 8rem;
        font-weight: bold;
    }
}

/*.button-quote{
    border: none;
    background-color: rgba(245, 8, 8, 0.75);
    font-size: 15px;
    padding: 15px;
    transform: translateY(-13px);
    border-radius: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}*/

.section1{
    text-align: center;
    padding-inline: 10%;
    background-image: url(../assets/services-4th-top1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    padding-top: 8rem;
    color: rgba(255, 255, 255, 1);
    position: relative;
    h3{
        font-size: 35px;
        backdrop-filter: blur(1px);
    }
    p{
        font-size: 25px;
        backdrop-filter: blur(1px);
    }
}

/*.quoteBtn{
    background-color: rgba(13, 30, 73, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 20px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    width: 8rem;
    box-shadow: 0 0 5px rgba(180, 180, 180, 1);
}*/

.section2{
    display: flex;
    flex-direction: column;
    margin-inline: 5%;
    margin-top: 6rem;
    background-color: rgba(200, 200, 200, .3);
    padding: 3rem;
    border-radius: 10px;
    h3{
        text-align: center;
        font-size: 25px;
    }
}

.sect-afterthought{
    margin-top: 5rem;
    margin-inline: 5rem;
    h3{
        font-size: 30px;
        text-align: center;
    }
}

.sect-section2{
    text-align: center;
    
    background-color: rgba(200, 200, 200, .3);
    padding: 3%;
    border-radius: 10px;
    h3{
        transform: translateY(-20px);
        font-size: 25px;
    }
}

.eng-services-AT{
    background-image: url(../assets/quote2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .eng-services-child{
        background: linear-gradient(to right,rgba(255, 255, 255, .7), rgba(255, 255, 255, .3), transparent);
        padding: 30px;
        h6{
            font-size: 25px;
        }
        div{
            margin-top: 25px;
            p:nth-of-type(1){
                font-size: 25px;
                transform: translateY(10px);
                text-decoration: underline;
            }
            p:nth-of-type(2){
                font-size: 20px;
            }
        }
    }
}

.con-services-AT{
    background: url(../assets/quote1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
    .con-services-child{
        padding: 30px;
        background: linear-gradient(to left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .8), rgba(255, 255, 255, .8));
        h6{
            font-size: 30px;
            transform: translateY(-30px);
        }
        div{
            transform: translateY(-20px);
            p:nth-of-type(1){
                font-size: 25px;
                text-decoration: underline;
                transform: translateY(10px);
            }
            p:nth-of-type(2){
                font-size: 20px;
            }
        }
    }
}

.section2-col1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 20px;
    div{
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 10px rgba(0, 0, 200, .7);
        border-radius: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
        img{
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 65%;
        }
        h5{
            font-size: 15px;
            transform: translateY(-10px);
            text-align: center;
        }
        p{
            white-space: normal;
            width: 90%;
            transform: translateY(-25px);
            text-align: center;
        }
    }
}

.section2-col2{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
    div{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 1);
        padding: 10px;
        border-radius: 10px;
        box-shadow:  0 0 10px rgba(0, 0, 200, .7);
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
        align-items: center;
        width: 30%;
        text-align: center;
        h5{
            font-size: 20px;
        }
        p{
            white-space: normal;
        }
        i{
            font-size: 25px;
        }
    }
}

.section3{
    display: flex;
    flex-direction: row;
    margin-inline: 10%;
    margin-top: 5rem;
    gap: 20px;
}

.cont3-rev1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(53, 117, 236, .4);
    padding: 20px;
    border-radius: 10px;
    p{
        font-size: 18px;
    }
}

.cont3-rev2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(53, 117, 236, .4);
    padding: 20px;
    border-radius: 10px;
    p{
        font-size: 18px;
    }
}


.star-reviews{
    .bxs-star{
        color: rgb(255, 145, 0);
    }
}

.text-rev1 p:nth-of-type(1){
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.text-rev2 p:nth-of-type(1){
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.section4{
    display: flex;
    flex-direction: column;
    margin-inline:20%;
    align-items: center;
    margin-top: 70px;
    h4{
        font-size: 20px;
        transform: translateY(20px);
    }
    i{
        font-size: 25px;
        outline: 0;
        transform: translateY(-10px);
    }
    textarea{
        width: 45%;
        min-height: 5rem;
        outline: none;
        border: none;
        /*border: 1px solid rgba(0, 0, 200, 1);*/
        border-radius: 5px;
        transform: translateY(10px);
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 200, 1);
    }
    label:nth-last-of-type(1){
        margin-top: 15px;
    }
    input{
        outline: none;
        border: 1px solid rgba(0, 0, 200, .3);
        transform: translateY(5px);
        /*border: 1px solid rgba(0, 0, 200, 1);*/
        box-shadow: 0 0 5px rgba(0, 0, 200, 1);
    }
    button{
        border: none;
        background-color: rgba(53, 117, 236, 1);
        margin-top: 15px;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
        width: 6rem;
    }
}

footer{
    background-color: rgb(25, 25, 71);
    padding-inline: 30px;
    padding-top: 20px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 5rem;
}

.col-foot{
    display: flex;
    flex-direction: row;
}

.stcol-foot h4{
    white-space: normal;
    width: 50%;
}

.ndcol-foot{
    padding-top: 25px;
}

.ndcol-foot-c{
    display: none;
}

.ndcol-foot-i{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo-foot{
    width: 30%;
}

.rdcol-foot{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    font-size: 20px;
}

.rdcol-foot input{
    height: 20px;
    width: 20rem;
    border-radius: 15px;
    outline: none;
    padding: 15px;
    font-size: 15px;
}

.rdcol-foot button{
    border: none;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 2.5rem;
    background-color: rgba(53, 117, 236, 1);
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.copyright{
    padding-top: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media (max-width: 1010px){
    .section1{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding-top: 6rem;
        padding-bottom: 3rem;
        p{
            font-size: 20px;
            margin-top: 0;
        }
    }
    .section2-col2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        margin: 0;
        grid-gap: 10px;
        div{
            margin: 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 90%;
        }

    }
    .section4 textarea{
        width: 20rem;
    }
}

@media (max-width:810px){
    header{
        height: 6rem;
    }
    .miima-about-logo{
        width: 8rem;
        height: 7rem;
    }
    .head-mid-st-about{
        display: flex;
    }
    .dropdown{
        display: none;
        i{
            display: flex;
            font-size: 40px;
            margin-right: 30px;
        }
    }
    .sect-afterthought{
        display: flex;
        flex-direction: column;
        padding-inline: 0;
        margin-inline: 0;
        gap: 60px;
    }
    .eng-services-AT{
        background-image: none;
        margin: 0;
        .eng-services-child{
            background-color: rgba(150, 150, 150, .5);
            div{
                background-color: rgba(250, 250, 250, 1);
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(10, 10, 61, 1);
            }
        }
    }
    .con-services-AT{
        background-image: none;
        margin: 0;
        .con-services-child{
            background-image: none;
            background-color: rgba(150, 150, 150, .5);
            display: flex;
            flex-direction: column;
            gap: 30px;
            div{
                background-color: rgba(250, 250, 250, 1);
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(10, 10, 61, 1);
            }
        }
    }
    .section2-col1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .section4{
        textarea{
            width: 20rem;
        }
    }
}

@media (max-width: 770px){
    .section1{
        p{
            white-space: normal;
            width: 120%;
        }
    }
    .section2-col2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .ndcol-foot{
        display: none;
    }
    .stcol-foot{
        h4{
            white-space: normal;
            width: 80%;
        }
        p{
            display: none;
        }
    }
    .rdcolfoot input{
        width: 13rem;
    }
    .ndcol-foot-c{
        display: block;
        p{
            display: block;
        }
    }
}

@media (max-width: 700px){
    header{
        height: 5rem;
        .miima-about-logo{
            height: 5rem;
        }
        .head-mid-st-about{
            gap: 20px;
            a{
                font-size: 23px;
            }
        }
    }
    .section1{
        h3{
            white-space: normal;
            width: 110%;
        }
    }
}

@media (max-width: 650px){
    .section3{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 625px){
    .miima-about-logo{
        width: 5.5rem;
    }
    .head-mid-st-about{
        gap: 5px;
        a{
            font-size: 15px;
        }
    }
    .section1{
        h3{
            font-size: 30px;
        }
        p{
            white-space: normal;
            width: 115%;
            margin-inline: 5%;
            padding-inline: 5px;
            font-size: 18px;
        }
    }
    .col-foot{
        display: flex;
        flex-direction: column;
        margin-inline: 10%;
    }
    .copyright{
        margin-inline: 10%;
    }
}

@media (max-width: 620px){

    .head-mid-st-about{
        display: flex;
        flex-direction: row;
        gap: 5px;
        a{
            font-size: 15px;
        }
    }
}

@media (max-width: 600px){
    .head-mid-st-about{
        display: none;
    }
    .section2{
        margin-top: 30px;
        .sect-section1{
            margin-top: 0;
            transform: translateY(-30px);
            .section2-col1{
                padding-top: 0;
                transform: translateY(-40px);
            }
        }
    }
    .dropdown{
        display: flex;
    }
}

@media (max-width: 550px) {
    .section1{
        h3{
            white-space: normal;
            width: 110%;
            font-size: 25px;
        }
        p{
            font-size: 18px;
        }
    }
    .section2-col2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .section4{
        text-align: center;
    }
    .section2-col1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        .rdcol-foot{
            .email{
                width: 80%;
            }
        }
    }
}