body{
    margin: 0;
    font-family: 'open sans',sans-serif;
}

header{
    position: fixed;
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(100, 100, 100, 1);
    margin-top: 0;
    background-color: rgba(255, 255, 255, 1);
    transform: translateY(-50px);
    padding-right: 30px;
    height: 6.5rem;
}

header a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.miima-contact-logo{
    width: 10rem;
}

.head-mid-contact{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 20px;
    a{
        font-size: 19px;
        font-weight: bold;
        color: rgba(25, 25, 71, 1)
    }
}


.dropdown{
    display: none;
    i{
        position: relative;
        font-size: 40px;
        background-color: rgba(25, 25, 71, .2);
        padding: 2px;
        border-radius: 5px;
        align-items: center;
        margin-right: 20px;
    }
    div{
        position: absolute;
        right: 3rem;
        display: none;
        margin-top: 45px;
        flex-direction: column;
        background-color: rgba(25, 25, 71, .3);
        backdrop-filter: blur(5px);
        padding: 10px;
        gap: 5px;
        border-radius: 10px;
        a{
            font-size: 23px;
            font-weight: bold;
            color: rgba(25, 25, 71, 1);
        }
        a:hover{
            background-color: rgba(255, 255, 255, 1);
            padding: 1px;
            border-radius: 5px;
        }
    }
}

.G-quote-c{
    background-color: rgb(9, 41, 124);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 8rem;
    height: 2rem;
    transform: translateY(-3px);
}

.main-text{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}

.main-text h2{
    font-size: 2.7rem;
    white-space: normal;
    width: 65%;
    text-align: center;
    color: rgb(25, 25, 71);
}

.main-text p{
    font-size: 20px;
    color: rgb(25, 25, 71);
}

.wrapper1{
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-inline: 10%;
    border-radius: 15px;
    margin-top: 4rem;
    background-color: rgb(46, 39, 102);
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
    color: rgba(255, 255, 255, 1);
    align-items: center;
}

.name-div{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.email-div{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.message-div{
    display: flex;
    flex-direction: column;
    width: 85%;
}

.name{
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
    transform: translateX(-5px);
}

.email1{
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
    transform: translateX(-5px);
}

.message{
    width: 100%;
    min-height: 100px;
    padding-top: 10px;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
    transform: translateX(-5px);
}

.attract-img{
    width: 55%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 100%;
}

.contact-form button{
    width: 30%;
    padding: 5px;
    background-color: rgb(17, 110, 241);
    border: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.wrapper2{
    display: flex;
    flex-direction: row;
    padding-inline: 5%;
    margin-top: 10rem;
}

.wleft2{
    display: flex;
    flex-direction: column;
}

.st-row{ 
    gap: 0;
    h2{
    font-size: 35px;
    }
    p{
        font-size: 20px;
        white-space: normal;
        width: 85%;
    }
}

.nd-row{
    h5{
        font-size: 25px;
    }
    p{
        font-size: 15px;
        transform: translateY(-30px);
    }
}

.rd-row{
    h5{
    font-size: 25px;
    }
    p{
        font-size: 15px;
        transform: translateY(-30px);
    }
}

.wrapper3{
    display: flex;
    flex-direction: row;
    margin-top: 6rem;
    margin-inline: 10%;
    height: 100%;
}

.left3 img{
    height: 100%;
}

.right3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-inline: 30px;
    font-size: 20px;
    background-color: rgba(7, 212, 248, 1);
}
.contact-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        border: none;
        background-color: rgba(7, 212, 248, 1);
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(25, 25, 71, 1);
    }
}

.additional{
    text-align: center;
    font-size: 2rem;
    margin-top: 6rem;
}

footer{
    background-color: rgb(25, 25, 71);
    padding-inline: 30px;
    padding-top: 20px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 5rem;
}

.col-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div2-footer-AT{
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}

.stcol-foot h4{
    white-space: normal;
    width: 50%;
}

.ndcol-foot{
    padding-top: 25px;
}

.ndcol-foot-c{
    display: none;
}

.ndcol-foot-i{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo-foot{
    width: 30%;
}

.rdcol-foot{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    font-size: 20px;
}

.rdcol-foot input{
    height: 20px;
    width: 20rem;
    border-radius: 15px;
    outline: none;
    padding: 15px;
    font-size: 15px;
}

.rdcol-foot button{
    border: none;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 2.5rem;
    background-color: rgba(53, 117, 236, 1);
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.copyright{
    padding-top: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media (max-width: 1250px){
    .wrapper1{
        padding: 0;
        .contact-form{
            height: 100%;
            padding-top: 20px;
        }
        img{
            height: 25rem;
        }
    }
    .left3{
        width: 100%;
        img{
            width: 100%;
        }
    }
}

@media (max-width: 1050px){
    .main-text{
        h2{
            white-space: normal;
            width: 70%;
        }
    }
}

@media (max-width: 950px){
    .wrapper{
        margin-inline: 5px;
        padding-inline: 0;
    }
}

@media (max-width: 900px){
    .wrapper1{
        height: 22rem;
        img{
            height: 100%;
        }
    }
    .wrapper2{
        display: flex;
        flex-direction: row;
        padding-inline: 1%;
        margin-inline: 0;
        gap: 0;
        .w-left2{
            padding-top: 0;
            width: 40%;
            padding: 0;
            margin: 0;
        }
        .w-right2{
            width: 55%;
            iframe{
                width: 100%;
            }
        }
    }
    .wrapper3{
        width: 90%;
        margin-inline: 5%;
        .left3{
            width: 120%;
            img{
                width: 100%;
            }
        }
    }
}

@media(max-width:780px){
    .main-text{
        h2{
            width: 100%;
            font-size: 35px;
        }
        p{
            transform: translateY(-20px);
        }
    }
    .wrapper1{
        margin-top: 10px;
    }
    .wrapper2{
        margin-inline: 2%;
        margin-right: 0;
        .w-left2{
            padding-top: 0;
            margin-top: 0;
            .st-row{
                transform: translateY(-20px);
                h2{
                    font-size: 30px;
                }
                p{
                    font-size: 18px;
                }
            }
            .nd-row{
                transform: translateY(-20px);
            }
            .rd-row{
                transform: translateY(-50px);
            }
        }
    }
}

@media(max-width:760px){
    .stcol-foot{
        p{
            display: none;
        }
        .ndcol-foot-c{
            display: block;
            p{
                display: block;
            }
        }
    }
    .ndcol-foot{
        display: none;
    }
    .rdcol-foot{
        input{
            width: 100%;
        }
        button{
            width: 100%;
        }
    }
}

@media (max-width: 750px){
    .main-text{
        h2{
            white-space: normal;
            width: 90%;
        }
    }
    .wrapper2{
        display: flex;
        flex-direction: column;
        margin-inline: 5%;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        gap: 0;
        .w-left2{
            display: flex;
            flex-direction: column;
            gap: 0;
            text-align: center;
            width: 100%;
            .st-row{
                P{
                    white-space: normal;
                    width: 100%;
                }
            }
            .nd-row{
                transform: translateY(-35px);
            }
            .rd-row{
                transform: translateY(-70px);
            }
        }
        .w-right2{
            width: 100%;
            transform: translateY(-40px);
            margin-top: 0;
        }
    }
    .wrapper3{
        margin-top: 30px;
        .w3-rev{
            padding-top: 10px;
        }
        p:nth-of-type(1){
            font-style: italic;
        }
    }
}

@media (max-width: 735px){
    /*header{
        .head-mid-contact{
            display: none;
        }
        .dropdown{
            display: block;
        }
    }*/
    .wrapper1{
        height: fit-content;
        img{
            height: 21rem;
        }
    }
    .contact-form{
        padding-inline: 0;
        padding-top: 10px;
        padding-bottom: 0;
        gap: 10px;
        .text{
            height: 15px;
        }
    }
    main{
        .wrapper2{
            margin-top: 30px;
            .w-left2{
                .d-row{
                    transform: translateY(-70px);
                }
            }
        }
    }
    .stcol-foot{
        h4{
            white-space: normal;
            width: 70%;
        }
        p{
            display: none;
        }
        .ndcol-foot-c{
            display: block;
            p{
                display: block;
            }
        }
    }
    .ndcol-foot{
        display: none;
    }
    .rdcol-foot{
        input{
            width: 13rem;
        }
    }
}

@media(max-width: 700px){
    .miima-contact-logo{
        height: 5rem;
        width: 7.5rem;
    }
    header{
        height: 6rem;
    }
}

@media (max-width: 680px){
    header{
        height: 6rem;
    }
    .head-mid-contact{
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 25px;
        padding-right: 10px;
        margin-right: 10px;
    }
    .main-text{
        padding-top: 35px;
        h2{
            font-size: 35px;
        }
    }
}

@media (max-width: 640px){
    .head-mid-contact{
        display: none;
    }
    .dropdown{
        display: flex;
    }
}

@media (max-width: 630px){
    .miima-contact-logo{
        width: 7rem;
    }
}

@media (max-width: 590px){
    .main-text{
        h2{
            white-space: normal;
            width: 90%;
            font-size: 30px;
        }
        p{
            white-space: normal;
            width: 70%;
            font-size: 20px;
            text-align: center;
        }
    }
    .wrapper1{
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        width: 95%;
        padding-inline: 0;
        margin-inline: 2%;
        padding-top: 0;
        .contact-form{
            width: 100%;
            gap: 5px;
            textarea{
                max-height: 60px;
                padding-top: 5px;
                padding-left: 5px;
            }
        }
        img{
            height: 15rem;
            width: 100%;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 0;
        }
    }
    .wrapper2{
        margin-inline: 0;
        padding-inline: 0;
        iframe{
            width: 100%;
        }
    }
    .wrapper3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-inline: 0;
        padding-inline: 0;
        img{
            display: none;
        }
        .right3{
            width:  170rem;
            height: auto;
            padding-bottom: 0;
            padding-top: 10px;
            p:nth-of-type(1){
                font-style: italic;
                font-size: 15px;
            }
        }
        .additional{
            white-space: normal;
            width: 90%;
        }
    }
}

@media (max-width: 515px){
    main{
        .main-text{
            padding-top: 70px;
            p{
                transform: translateY(-20px);
            }
        }
        .wrapper1{
            margin-top: 0;
        }
    }
    footer{
        .col-foot{
            display: flex;
            flex-direction: column;
        }
    }
}
