body{
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(242, 242, 242, 0.847);
}

header{
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    height: 5rem;
    .miima-contact-logo{
        width: 10rem;
        height: 5.5rem;
    }
    .head-mid-contact{
        margin-right: 30px;
        display: flex;
        flex-direction: row;
        a{
            text-decoration: none;
            font-size: 19px;
            font-weight: bold;
            color: rgb(23, 14, 89);
            margin-inline: 5px;
        }
        .service-li{
            list-style-type: none;
            position: relative;
        }
        .service-li:hover{
            .service-child{
                display: flex;
            }
        }
        .service-child{
            display: none;
            flex-direction: column;
            position: absolute;
            background-color: rgba(255, 255, 255, 1);
            padding: 10px 10px;
            width: 13rem;
            box-shadow: 0 0 10px rgba(10, 11, 95, 0.863);
            margin-top: 0;
            padding-top: 0;
            li{
                list-style-type: none;
                padding: 10px;
                a{
                    font-size: 17px;
                    font-weight: 400;
                }
            }
        }
    }
    .dropdown{
        display: none;
        flex-direction: column;
        i{
            position: relative;
            font-size: 45px;
            background-color: rgba(16, 8, 77, 0.3);
            border-radius: 5px;
            margin-right: 30px;
        }
        .head-mid-nd{
            display: none;
            flex-direction: column;
            gap: 5px;
            position: absolute;
            right: 30px;
            margin-top: -5px;
            background-color: rgba(7, 2, 48, .3);
            padding: 10px;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            a{
                text-decoration: none;
                font-size: 25px;
                font-weight: bold;
                color: rgb(18, 10, 80);
            }
            a:hover{
                background-color: rgba(255, 255, 255, .8);
                border-radius: 5px;
            }
        }
    }
}

.G-quote-q{
    background-color: rgb(9, 41, 124);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 8rem;
    height: 2rem;
}

main{
    padding-top: 8rem;
    margin-inline: 5%;
    .b-form{
        text-align: center;
        h3{
            font-size: 35px;
        }
        p{
            margin-top: -10px;
            font-size: 20px;
        }
    }
    .parent-form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 70px;
        .form-par{
            color: rgba(7, 2, 48, 1);
            margin-left: 10px;
        }
        form{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: auto;
            i{
                color: rgba(228, 35, 35, 0.863);
                font-size: 10px;
                transform: translateY(-4px);
            }
            .introform{
                border: 1px solid rgba(7, 2, 48, .1);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 10px;
                border-top: 12px solid rgba(20, 14, 161, .9);
                h4{
                    padding-left: 15px;
                    font-size: 20px;
                    color: rgba(10, 11, 95, 0.863);
                }
                p:nth-of-type(1){
                    padding-left: 15px;
                    padding-top: 10px;
                }
                p:nth-of-type(2){
                    font-size: 15px;
                    color: rgba(156, 26, 26, 0.863);
                }
                i{
                    padding-left: 10px;
                }
                hr{
                    border: 1px solid rgba(220, 220, 220, .5);
                }
            }
            .st-form{
                display: flex;
                flex-direction: column;
                /*justify-content: space-between;*/
                border-radius: 10px;
                gap: 10px;
                .name-div{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding:35px 30px;
                    font-size: 15px;
                    background-color: rgba(255, 255, 255, 1);
                    border: 1px solid rgba(7, 2, 48, .15);
                    border-radius: 10px;
                    input{
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid rgba(7, 2, 48, .15);
                        outline: none;
                    }
                }
                .company-div{
                    display: flex;
                    flex-direction: column;
                    gap: 19px;
                    font-size: 15px;
                    padding: 35px 30px;
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 10px;
                    border: 1px solid rgba(7, 2, 48, .15);
                    input{
                        width: 100%;
                        border: none;
                        border-bottom: 1px solid rgba(7, 2, 48, .15);
                        outline: none;
                    }
                }
            }
            .nd-form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                .nd-firstRow{
                    background-color: rgba(255, 255, 255, 1);
                    border: 1px solid rgba(7, 2, 48, .15);
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    padding: 35px 30px;
                    justify-content: space-between;
                    div{
                        display: flex;
                        flex-direction: column;
                        width: 45%;
                        font-size: 15px;
                        gap: 15px;
                        input{
                            outline: none;
                            border: none;
                            border-bottom: 1px solid rgba(7, 2, 48, .15);
                        }
                    }
                }
                .nd-seccondRow{
                    display: flex;
                    flex-direction: row;
                    border: 1px solid rgba(7, 2, 48, .15);
                    background-color: rgba(255, 255, 255, 1);
                    padding: 35px 30px;
                    border-radius: 10px;
                    justify-content: space-between;
                    div{
                        display: flex;
                        flex-direction: column;
                        width: 45%;
                        font-size: 15px;
                        gap: 15px;
                        input{
                            border: none;
                            border-bottom: 1px solid rgba(7, 2, 48, .15);
                        }
                    }
                }
            }
            .rd-form{
                display: flex;
                flex-direction: row;
                gap: 15%;
                border: 1px solid rgba(7, 2, 48, .15);
                border-radius: 10px;
                padding: 40px;
                padding-inline: 40px;
                background-color: rgba(255, 255, 255, 1);
                div{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    input{
                        width: 120%;
                        border: none;
                        border-bottom: 1px solid rgba(7, 2, 48, .15);
                        outline: none;
                    }
                }
            }
            .rth-form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                border: 1px solid rgba(7, 2, 48, .15);
                border-radius: 10px;
                padding-inline: 40px;
                padding: 50px;
                background-color: rgba(255, 255, 255, 1);
                .rth-form-row1{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .sid-here1{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        input{
                            outline: none;
                            border: 1px solid rgba(7, 2, 48, .15);
                        }
                    }
                    .sid-here2{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        input{
                            border: none;
                            border-bottom: 1px solid rgba(7, 2, 48, .3);
                            outline: none;
                        }
                    }
                }
                .rth-form-row2{
                    display: flex;
                    flex-direction: row;
                    gap: 30%;
                    .after-asteriks1{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        input{
                            width: 140%;
                            border: none;
                            border-bottom: 1px solid rgba(7, 2, 48, .3);
                            outline: none;
                        }
                    }
                    .after-asteriks2{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        input{
                            width: 135%;
                            outline: none;
                            border: 1px solid rgba(7, 2, 48, .55);
                        }
                    }
                }
                .rth-form-row3{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    textarea{
                        min-height: 60px;
                        outline: none;
                        padding: 5px;
                        border: 1px solid rgba(7, 2, 48, .35);
                        border-radius: 10px;
                    }
                }
            }
            .submit{
                width: 30%;
                height: 40px;
                border: none;
                border-radius: 10px;
                background-color: rgb(10, 9, 79);
                font-size: 20px;
                color: rgba(255, 255, 255, 1);
            }
            
        }
        .buttons{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .p-payment{
                background-color: rgba(9, 10, 92, 0.863);
                width: 13rem;
                color: rgba(255, 255, 255, 1);
                border: none;
                border-radius: 10px;
                font-size: 20px;
            }
            .clear{
                font-size: 20px;
                font-weight: bold;
                margin-right: 20px;
                color: rgba(10, 11, 95, 0.863);
                background: transparent;
                border: none;
            }
        }
        .some-info{
            color: rgb(3, 4, 37);
            font-size: 20px;
        }
        .on-side{
            width: 35%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            img{
                width: 100%;
                border-radius: 20px;
            }
            img:nth-last-of-type(1){
                display: none;
            }
        }
    }
    .modal{
    align-items: center;
    display: none;
    flex-direction: column;
    border: none;
    background: linear-gradient(to right, rgba(0, 0, 0, 1),rgb(7, 2, 48), rgba(12, 14, 161, 0.863), rgba(7, 2, 48, 1), rgba(0, 0, 0, 1));
    padding: 30px;
    color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    p{
        white-space: normal;
        width: 80%;
        text-align: center;
        }
    }
}

.payment{
    display: none;
    flex-direction: column;
    background-color: rgba(13, 101, 242, 0.533);
    padding: 0 20px;
    border-radius: 20px;
    width: 50%;
    height: fit-content;
    padding-bottom: 70px;
    h6{
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
    }
    .owner-info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        .name{
            display: flex;
            flex-direction: column;
            width: 70%;
            label{
                font-size: 20px;
                padding-left: 10px;
            }
            input{
                height: 20px;
                border: none;
                outline: none;
                border-radius: 20px;
                padding: 10px;
                border-bottom: 2px solid rgba(9, 10, 92, 0.863);
            }
        }
        .email{
            display: flex;
            flex-direction: column;
            width: 70%;
            label{
                font-size: 20px;
                padding-left: 10px;
            }
            input{
                height: 20px;
                border: none;
                outline: none;
                border-radius: 20px;
                padding: 10px;
                border-bottom: 2px solid rgba(9, 10, 92, 0.863);
            }
        }
        .address{
            display: flex;
            flex-direction: column;
            width: 70%;
            label{
                font-size: 20px;
                padding-left: 10px;
            }
            input{
                height: 20px;
                border: none;
                outline: none;
                border-radius: 20px;
                padding: 10px;
                border-bottom: 2px solid rgba(9, 10, 92, 0.863);
            }
        }
        .amount{
            display: flex;
            flex-direction: column;
            width: 70%;
            label{
                font-size: 20px;
                padding-left: 10px;
            }
            input{
                height: 20px;
                border: none;
                outline: none;
                border-radius: 20px;
                padding: 10px;
                border-bottom: 2px solid rgba(9, 10, 92, 0.863);
            }
        }
    }
    .payment-option{
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 20px;
        margin-top: 20px;
        .btns{
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            justify-content: center;
            margin-top: 0;
            padding-top: 0;
            transform: translateY(-10px);
            button{
                border: none;
                font-size: 18px;
                border-radius: 15px;
                padding: 10px;
                border-bottom: 2px solid rgba(9, 10, 92, 0.863);
            }
            button:hover{
                background-color: rgba(162, 95, 95, 0.4);
            }
        }
    }
    .toggles{
        .bank{
            display: none;
            flex-direction: column;
            align-items: center;
            p{
                font-size: 18px;
                white-space: normal;
                width: 90%;
                text-align: center;
            }
            .bank-confirm{
                display: hidden;
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                font-size: 20px;
                border-radius: 15px;
                border: none;
                margin-top: 20px;
                padding: 20px;
                border-bottom: 2px solid rgba(9, 10, 92, 0.863);
            }
        }
        .zelle{
            display: none;
            flex-direction: column;
            gap: 30px;
            margin-top: 30px;
            align-items: center;
            .zelle1{
                display: flex;
                flex-direction: column;
                width: 70%;
                label{
                    font-size: 20px;
                }
                input{
                    height: 20px;
                    border: none;
                    outline: none;
                    border-radius: 20px;
                    padding: 10px;
                    border-bottom: 2px solid rgba(9, 10, 92, 0.863);
                }
            }
            .zelle2{
                display: flex;
                flex-direction: column;
                width: 70%;
                input{
                    height: 20px;
                    border: none;
                    outline: none;
                    border-radius: 20px;
                    padding: 10px;
                    border-bottom: 2px solid rgba(9, 10, 92, 0.863);
                }
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70%;
                border: none;
                border-bottom: 2px solid rgba(9, 10, 92, 0.863) ;
                height: 30px;
                padding: 10px;
                font-size: 20px;
                border-radius: 15px;
                background-color: rgba(12, 14, 161, 0.863);
                color: white;
            }
        }
    }
}

footer{
    background-color: rgb(5, 6, 52);
    color: rgba(255, 255, 255, 1);
    margin-top: 80px;
    .footer-st{
        display: flex;
        flex-direction: row;
        padding-inline: 2%;
        justify-content: space-between;
        padding-right: 5%;
        .left{
            h6{
                font-size: 15px;
            }
            img{
                width: 7rem;
                height: 4rem;
                margin-top: 0;
            }
            p{
                white-space: normal;
                width: 80%;
            }
        }
        .right{
            margin-top: 25px;
            p{
                transform: translateX(-100px);
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-left: 0;
                transform: translateX(-100px);
                li{
                    list-style-type: none;
                    border-right: 1px solid rgb(48, 45, 68);
                    padding-right: 10px;
                }
            }
        }
        .button{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-right: 10%;
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                color: rgba(255, 255, 255, 1);
                border: none;
                background-color: rgba(218, 7, 7, 0.863);
                border-radius: 30px;
                padding: 10px;
                width: 40%;
            }
        }
        .bottom{
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            .contact{
                display: flex;
                flex-direction: column;
                div{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                }
            }
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                color: rgba(255, 255, 255, 1);
                border: none;
                background-color: rgba(218, 7, 7, 0.863);
                border-radius: 30px;
                padding: 10px;
                width: 60%;
            }
            .stupid-btn{
                display: none;
                margin-bottom: 15px;
            }
        }
    }
    hr{
        border: .5px solid rgb(128, 120, 120);
        width: 95%;
        margin-top: 30px;
    }
    .Ps{
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 1200px){
    main{
        .parent-form{
            form{
                width: 60%;
                .rth-form{
                    .rth-form-row1{
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        .survey-service{
                            width: 60%;
                        }
                        input{
                            width: 60%;
                        }
                    }
                    .rth-form-row2{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        label:nth-of-type(1){
                            input{
                                width: 60%;
                            }
                        }
                        label:nth-of-type(2){
                            input{
                                width: 60%;
                            }
                        }
                    }
                }
            }
            .on-side{
                padding-top: 30px;
                img:nth-last-of-type(1){
                    display: block;
                }
            }
        }
    }
}
@media(max-width:990px){
    footer{
        .footer-st{
            .right{
                display: none;
            }
        }
    }
}

@media (max-width:875px){
    header{
        .miima-contact-logo{
            width: 7rem;
        }
        .head-mid-contact{
            a{
                font-size: 25px;
            }
        }
    }
    main{
        padding-top: 10rem;
    }
}

@media (max-width: 780px){
    main{
        padding-top: 8rem;
        h3{
            font-size: 25px;
        }
        .parent-form{
            display: flex;
            flex-direction: column;
            form{
                width: 100%;
                .form-par{
                    text-align: center;
                }
            }
            .on-side{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                img:nth-last-of-type(1){
                    display: none;
                }
            }
        }
        .payment{
            display: flex;
            justify-content: center;
            width: 90%;
        }
    }
}

@media (max-width: 770px){
    footer{
        .stcol-foot{
            h4{
                white-space: normal;
                width: 80%;
            }
            p{
                display: none;
            }
            .ndcol-foot-c{
                display: block;
                p{
                    display: block;
                }
            }
        }
        .ndcol-foot{
            display: none;
        }
    }
}

@media (max-width: 660px){
    header{
        height: 5rem;
        margin-right: 0;
        .head-mid-contact{
            display: flex;
            flex-direction: row;
            gap: 5px;
            padding-right: 0;
            margin-right: 5px;
        }
    }
    footer{
        .footer-st{
            display: flex;
            flex-direction: column;
            .button{
                display: none;
            }
            .bottom{
                .stupid-btn{
                    display: flex;
                }
            }
        }
    }
}

@media (max-width: 615px){
    header{
        padding-left: 10px;
        .miima-contact-logo{
            width: 7.5rem;
            height: 5rem;
        }
        .head-mid-contact{
            display: none;
        }
        .dropdown{
            display: block;
        }
    }
    main{
        padding-top: 90px;
        .parent-form{
            margin-top: 0;
        }
    }
}

@media (max-width: 540px){
    main{
        .parent-form{
            form{
                .st-form{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    .name-div{
                        gap: 15px;
                        input{
                            width: 67%;
                        }
                    }
                    .company-div{
                        gap: 15px;
                        input{
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 550px){
    main{
        .b-form{
            margin-inline: 0;
            padding-inline: 0;
            h3{
                font-size: 30px;
                white-space: normal;
                width: 100%;
            }
            p{
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 515px){
    footer{
        display: flex;
        flex-direction: column;
        .col-foot{
            display: flex;
            flex-direction: column;
        }
        .rdcol-foot{
            display: none;
        }
    }
}

@media (max-width: 435px){
    main{
        .b-form{
            margin-inline: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                white-space: normal;
                width: 110%;
                text-align: center;
            }
        }
    }
}

@media (max-width: 395px){
    main{
        .b-form{
            h3{
                white-space: normal;
                width: 105%;
                font-size: 28px;
            }
        }
    }
}