body{
    font-family: sans-serif;
    margin-top: 0;
}   

header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    transform: translateY(-10px);
    justify-content: space-between;
    align-items: center;
    margin-inline: 0;
}

.miima-logo{
    width: 10rem;
}

.head-mid-st{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    gap: 10px;
    align-items: center;
    a{
        text-decoration: none;
        font-size: 25px;
        color: rgba(25, 25, 71, 1);
    }
    button{
        border: none;
        background-color: rgba(226, 17, 17, 0.75);
        color: rgba(255, 255, 255, 1);
        padding: 20px;
        font-size:15px;
        border-radius: 30px;
    }
}

.dropdown{
    display: none;
}

main{
    backdrop-filter: blur(3px);
    padding-top: 10rem;
    h3{
        text-align: center;
    }
    .intro{
        text-align: center;
    }
}

.main-content{
    display: flex;
    flex-direction: row;
    margin-inline: 5%;
    gap: 10%;
    justify-content: space-between;
}

.st-cont{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(25, 25, 71, 1);
    border-radius: 10px;
    margin-top: 15px;
    padding: 20px;
    width: 100%;
}
.u-name-div, .email-div, .p-number-div, .address-div, .state-div, .city-div, .zip-div{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    input{
        padding: 5px;
        outline: none;
    }
}
