body{
    margin: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 6.3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
}

.miima-logo{
    width: 10rem;
}

.head-mid{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.head-mid-st{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: rgba(13, 30, 73, 1);
    margin-right: 20px;
}

.dropdown{
    position: relative;
    display: flex;
}

.head-mid-nd{
    display: none;
    position: absolute;
    margin-top: 45px;
    right: 1.5px;
    background-color: rgba(200, 200, 200, .6);
    border-radius: 5px;
    width: 9rem;
    padding: 10px;
    gap: 13px;
    z-index: 1000;
    backdrop-filter: blur(20px);
    a{
        color: rgba(13, 30, 73, 1);
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
    }
    a:hover{
        background-color: rgba(250, 250, 250, .95);
        border-radius: 5px;
    }
}

.button-quote-drop{
    border: none;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 18px;
    align-items: center;
    background-color: rgba(214, 21, 21, 0.795);
    width: 80%;
    padding: 5px;
    border-radius: 5px;
}

.head-mid-st a{
    text-decoration: none;
    color: rgba(13, 30, 73, 1);
    font-size: 25px;
    font-weight: bold;
}

/*.services-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(-10px);
}*/

.button-quote{
    border: none;
    background-color: rgba(214, 21, 21, 0.795);
    color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    padding-inline: 10px;
    padding: 15px;
    transform: translateY(-10px);
}

/*.menu-icon{
    position: relative;
}*/

.head-mid i{
    display: none;
    margin-top: 6px;
    position: relative;
    font-size: 3rem;
    color: rgba(13, 30, 73, 1);
    transform: translateY(-8px);
    background-color: rgba(13, 30, 73, .2);
    border-radius: 5px;
}

.button-quote.special{
    align-self: center;
}

.cont1{
    width: 100%;
    position: relative;
    height: 530px;
}

.cont1-content{
    position: absolute;
    z-index: 1;
    background-color: rgba(40, 40, 40, .7);
    width: 100%;
    height: 500px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.cont1-content h1{
    font-size: 50px;
    white-space: normal;
    width: 50%;
    text-align: center;
    margin-top: 40px;
}

.cont1-content p{
    font-size: 20px;
}

.cont1-content button{
    background-color: rgba(13, 30, 73, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 30px;
    width: 13rem;
    height: 40px;
    cursor: pointer;
    border: none;
}

.miima-vid{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.cont2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1.5em;
    margin-inline: 20px;
    gap: 20px;
}

.cont2 h3{
    text-align: center;
    font-size: 25px;
}

.cont2-content{
    display: flex;
    flex-direction: row;
    margin-inline: 5%;
    gap: 5%;
}

.cont2-col{
    display: flex;
    flex-direction: column;
    background-color: rgba(150, 150, 150, .3);
    border-radius: 10px;
    align-items: center;
    width: 35%;
    height: 25rem;
    img{
        width: 100%;
        height: 55%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.col-p1{
    font-size: 25px;
    font-weight: bold;
}

.col-p2{
    padding-inline: 0;
    font-size: 18px;
    white-space: normal;
    text-align: center;
    width: 98%;
    transform: translateY(-20px);
}

.cont3{
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    margin: 20px;
}

.cont3-heading{
    text-align: center;
    font-size: 30px;
}

.cont3-revs{
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: center;
    justify-content: space-around;
}

.cont3-rev1, .cont3-rev2{
    width: 35%;
    white-space: normal;
    font-size: 20px;
    padding: 20px;
}

.rev-name{
    text-align: center;
}

.text-rev1 p:nth-of-type(1){
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
.text-rev2 p:nth-of-type(1){
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

footer{
    background-color: rgb(25, 25, 71);
    padding-inline: 30px;
    padding-top: 20px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 5rem;
}

.col-foot{
    display: flex;
    flex-direction: row;
}

.stcol-foot h4{
    white-space: normal;
    width: 50%;
}

.ndcol-foot{
    padding-top: 25px;
}

.ndcol-foot-c{
    display: none;
}

.ndcol-foot-i{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.logo-foot{
    width: 30%;
}

.rdcol-foot{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    font-size: 20px;
    margin-right: 10px;
}

.rdcol-foot input{
    height: 20px;
    width: 100%;
    border-radius: 15px;
    outline: none;
    padding: 15px;
    font-size: 15px;
    display: flex;
}

.rdcol-foot button{
    border: none;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: fit-content;
    background-color: rgba(53, 117, 236, 1);
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.copyright{
    padding-top: auto;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media (max-width: 1130px){
    .cont2-content{
        margin-inline: 0;
        padding-inline: 0;
        .cont2-col{
            width: 40%;
            img{
                height: 50%;
            }
        }
    }
}

@media (max-width:980px){
    .head-mid{
        gap: 15px;
        padding-right: 10px;
    }
    .cont1-content h1{
        width: 60%;
        font-size: 40px;
    }
    .cont2-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .col-p1{
        text-align: center;
    }
    .cont3-revs{
        gap: 15px;
    }
    .cont3-rev1, .cont3-rev2{
        width: 55%;
    }
}

@media (max-width: 930px){
    .cont2-content{
        padding-inline: 5px;
        gap: 10px;
        .cont2-col{
            img{
                height: 50%;
            }
        }
    }
}

@media (max-width:900px){
    .rdcol-foot input{
        width: 15rem;
    }
}

@media (max-width:780px){
    .head-mid-st{
        display: none;
    }
    .head-mid i{
        display: block;
        position: relative;
        /*align-self: center;
        font-size: 35px;
        transform: translateY(-10px);*/
    }
    .head-mid-nd{
        display: none;
    }
    .cont1-content h1{
        width: 70%;
        font-size: 35px;
        p{
            font-size: 15px;
        }
    }
}

@media (max-width: 860px){
    .col-p1{
        font-size: 20px;
    }
}

@media (max-width: 680px){
    footer{
        padding-inline: 5px;
    }
    .col-foot{
        padding-inline: 0;
        margin-inline: 0;
        gap: 20px;
    }
    .stcol-foot{
        h4{
            white-space: nowrap;
        }
        p{
            display: none;
        }
    }
    
    .cont2-content{
        display: grid;
        grid-template-columns: repeat(2, auto);
        .cont2-col{
            width: 90%;
        }
    }
    .col-p1{
        font-size: 20px;
    }
    .col-p2{
        font-size: 16px;
        transform: translateY(-10px);
    }
    .text-rev1 p:nth-of-type(1){
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
    }
    .text-rev2 p:nth-of-type(1){
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
    }
    .ndcol-foot-c{
        display: block;
        p{
            display: block;
        }
    }
    .ndcol-foot{
        display: none;
    }
}

@media (max-width:635px){
    .col-foot{
        display: flex;
        flex-direction: column;
        button{
            width: 10rem;
        }
    }
    footer{
        padding-inline: 30%;
    }
    .stcol-foot h4{
        white-space: normal;
        width: 90%;
    }
    .cont3-revs{
        display: flex;
        flex-direction: column;
        margin-inline: 15%;
        align-items: center;
        width: 80%;
    }
    .cont1-content p{
        white-space: normal;
        width: 85%;
        text-align: center;
    }
}
@media (max-width: 500px){
    .cont2-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        .cont2-col{
            img{
                height: 60%;
            }
        }
    }
    .text-rev1{
        p:nth-of-type(1){
            white-space: normal;
            width: 300px;
            text-align: center;
            transform: translateX(-4rem);
        }
    }
    .text-rev2{
        p:nth-of-type(1){
            white-space: normal;
            width: 300px;
            transform: translateX(-4rem);
        }
    }
}

